<div class="container-fluid body">
  <div class="col-md-6">
    <%= form_for(@user, html: {multipart: true}) do |f| %>
      <p>
        <%= f.label :name, "Full Name" %><br>
        <%= f.text_field :name, class: 'form-control' %>
      </p>
      <p>
        <%= f.label :email, "Email Address" %><br>
        <%= f.email_field :email, class: 'form-control' %>
      </p>
      <p>
        <%= f.label :text, "Message" %><br>
        <%= f.textarea :text, input_html: { rows: "10"}, class: 'form-control' %>
      </p>
      <p>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </p>
    <% end %>
  </div>

  <div class="col-md-6">
    <div class="social">
    <a href="https://www.goodreads.com/user/show/40907023-andrew-gibson"><%= image_tag "goodreads.png", :class => "img-responsive", :alt => "goodreads logo" %></a>
    <a href="https://twitter.com/drozman03"><%= image_tag "twitter.png", :class => "img-responsive", :alt => "twitter logo" %></a>
    <a href="http://www.amazon.com/s/ref=dp_byline_sr_book_1?ie=UTF8&text=Andrew+Gibson&search-alias=books&field-author=Andrew+Gibson&sort=relevancerank"><%= image_tag "amazon.png", :class => "img-responsive", :alt => "amazon logo" %></a>
    <a href="https://www.facebook.com/AndrewGibsonAuthor"><%= image_tag "facebook.png", :class => "img-responsive", :alt => "facebook logo" %></a>
    </div>
  </div>
</div>
