<div class="container-fluid body">
  <form class="col-md-6">
    <%= form_tag :html => {:action => "contact"} do %>
      <%= label_tag 'name' %>
      <%= text_field_tag "contact[name]", nil, class: "form-control" %>
      <br/>
      <%= label_tag 'email' %>
      <%= email_field_tag "contact[email]", nil, class: "form-control" %>
      <br/>
      <%= label_tag 'message' %>
      <%= text_area_tag "contact[message]", nil, class: "form-control" %>
      <br/>
      <%= submit_tag "Submit", class: "btn btn-success" %>
    <% end %>
  </form>

  <div class="col-md-6">
    <div class="social">
    <a href="https://www.goodreads.com/user/show/40907023-andrew-gibson"><%= image_tag "goodreads.png", :class => "img-responsive", :alt => "goodreads logo" %></a>
    <a href="https://twitter.com/drozman03"><%= image_tag "twitter.png", :class => "img-responsive", :alt => "twitter logo" %></a>
    <a href="http://www.amazon.com/s/ref=dp_byline_sr_book_1?ie=UTF8&text=Andrew+Gibson&search-alias=books&field-author=Andrew+Gibson&sort=relevancerank"><%= image_tag "amazon.png", :class => "img-responsive", :alt => "amazon logo" %></a>
    <a href="https://www.facebook.com/AndrewGibsonAuthor"><%= image_tag "facebook.png", :class => "img-responsive", :alt => "facebook logo" %></a>
    </div>
  </div>
</div>